body {
    width:100%;
    height:100vh;
}

.position_5{
    border:1px solid black;
    width: 100%;
    height: 130px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: rgb(249, 249, 249);
}

.img_5{
    width:120px; 
    height:120px;
    margin-top:3.9px;
}

.img_6{
    width:120px;
    height:120px;
    margin-top:-5px;
}

.img_7{
    width:120px;
    height:120px;
    margin-top:-0.1px;
}

.img_8{
    width:120px;
    height:120px;
    margin-top:5px; 
}

.img_9{
    width:120px;
    height:120px;
    margin-top:0.1px;
}

.img_10{
    width:113px;
    height:113px;
    margin-top:0.5px;
}

.img_11{
    width:120px;
    height:120px;
    margin-top:-3px;
}

@media screen and (min-width: 500px) {
    .position_5{
        border:1px solid black;
        width: 177%;
        height: 130px;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        background-color: rgb(249, 249, 249);
    }
}

@media screen and (min-width: 0px) and (max-width: 499px) {
    .position_5{
        border:1px solid black;
        width: 263%;
        height: 130px;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        background-color: rgb(249, 249, 249);
    }
}
