body {
    height: 100vh;
    width: 100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.border-box {
    display: flex;
    flex-direction: column; 
    border: 1px solid black;
    box-sizing: border-box;
    width: 200px;
    height: 250px;
    justify-content: center; 
    align-items: center;
    padding-top:20px;
    border:none;
}

img {
    height: 200px;
    width: 170px;
    border: none;
}

.skyblue {
    color: skyblue;
    font-size: 18px;
    
}

.brown {
    margin-top:-0px;
    border:1px solid black;
    width:200px;
    height:300px;
    color:black;
    font-size:20px;
    display:flex;
    flex-direction:column;
    justify-content:center; 
    align-items:Center;
    text-align:Center;
    border:none;
}

.img-3{
    width:190px;
    height:180px;
    margin-bottom:10px;
    margin-top:-50px;
}

.color_1{
    color:#333333
}

.color_2{
    color:#cc9966;
    margin-bottom:-30px;
}

.color_3{
    color: #cc3333;
}

.div {
    background-color:rgb(245, 235, 220);
    height:300px;
    border:1px solid black;
    border-radius:20px;
}